body {
  font-family: 'Raleway', sans-serif;
}

p.primek {
	
	background-color:darkgray;
	color:white;
}


div.nagy {
	position: fixed;top: 20px;left: 20px;
width:700px;height:600px;
}

div.nagy2 {
	width:700px;height:600px;
	position: fixed;top: 20px;left: 500px;
}

.label {
  display: inline;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: bold;
  line-height: 1;
  color: @label-color;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
  display:none;
  // Add hover effects, but only for links
  a& {
    &:hover,
    &:focus {
      color: @label-link-hover-color;
      text-decoration: none;
      cursor: pointer;
    }
  }

  // Empty labels collapse automatically (not available in IE8)
  &:empty {
    display: none;
  }

  // Quick fix for labels in buttons
  .btn & {
    position: relative;
    top: -1px;
  }
}



.bg-true {
    background-color: #55cd32 !important
}

.bg-false {
    background-color: #dd4b39 !important
}
