body {
  font-family: 'Raleway', sans-serif;
}

p.primek {
	
	background-color:darkgray;
	color:white;
}


p.output {
	
	background-color:blue;
	color:white;
	margin-block-start: 0px;
        margin-block-end: 0px;
}


div.nagy {
width:700px;height:600px;
}
