body {
  font-family: 'Raleway', sans-serif;
}

p.primek {
	
	background-color:darkgray;
	color:white;
}


p.output {
	
	background-color:blue;
	color:white;
}


div.nagy {
width:700px;height:600px;
margin: 50px 10px 20px 30px;
}
